.btn {
    padding: 1rem;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #8A2BE2;
    transition: all 200ms;
    color: #8A2BE2;
    background-color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #8A2BE2;
    color: white;
    cursor: pointer;
}