.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 10px;
  gap: 10px;
}

.container p {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 4px;
  border-bottom: 1px solid #000;
}

.container span {
  font-weight: bold;
}

.container button {
  margin-top: 8px;
}

.container img {
  margin: 10px;
  width: 400px;
}
